<div class="select">
  <cp-input
    (blured)="onBlur()"
    (focused)="onFocus()"
    [label]="label"
    #input
  ></cp-input>
  <ul [@selectOpenClose]="showElements ? 'open' : 'closed'" class="select__list">
    <li *ngFor="let option of options" (mousedown)="selectItem(option)" class="select__option">
      {{ option.name }}
    </li>
  </ul>
  <img class="select__arrow" src="/assets/icons/caret-down-solid.svg" alt="arrow" />
  <button class="select__clear" (click)="clear()">
    <img src="/assets/icons/times-solid.svg" alt="times" class="select__clear-icon"/>
  </button>
</div>
