@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
$size: 15px;

.select {
  position: relative;
  &__list {
    list-style-type: none;
    position: relative;
    margin-top: -1.8rem;
    margin-left: -10px;
    padding: 0;
    padding-right: 10px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%);
    width: 100%;
    opacity: 0;
  }

  &__option {
    background-color: $white;
    padding: 10px;
    width: calc(100% + 10px);
    cursor: pointer;
    &:hover {
      background-color: $accent;
    }
  }

  &__clear {
    width: $size;
    height: $size;
    right: $size;
    position: absolute;
    top: 50%;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    @include flex(center, center);
    img {
      width: $size;
      height: $size;
    }
  }

  &__clear-icon {
    width: $size;
    height: $size;
  }

  &__arrow {
    width: $size;
    height: $size;
    position: absolute;
    right: 0;
    top: 50%;
    pointer-events: none;
  }
}
