@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

@import "./assets/styles/mixins";
@import "./assets/styles/variables";
@import "./assets/styles/buttons";

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: 'Montserrat';
    background-color: $gray-light;
  }
