@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.cars-block {
  @include flex(center, center);
  flex-wrap: wrap;
  &__title {
    color: $primary-dark;
    margin: 3rem;
  }
}
