<cp-header></cp-header>
<cp-cars-filters></cp-cars-filters>
<div class="cars-block">
  <ng-container *ngIf="cars$ | async as cars">
    <ng-container *ngIf="cars.length > 0; else noData">
      <cp-cars-item *ngFor="let car of cars" [car]="car"></cp-cars-item>
    </ng-container>
    <ng-template #noData>
      <h2 class="cars-block__title">No cars found</h2>
    </ng-template>
  </ng-container>
</div>
