@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
$minWidth: 250px;
$width: 45%;

.home {
  background-color: $white;
  min-height: 100vh;
  @include flex(center, center);

  &__wrapper {
    @include flex(center, center);
    flex-wrap: wrap;
    @media screen and (min-width: $medium-screen) {
      flex-wrap: nowrap;
      height: 80vh;
    }
  }

  &__image-wrapper {
    min-width: $minWidth;
    width: $width;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__link {
    font-size: 0.6rem;
    text-decoration: none;
    color: $gray-dark;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 12.5rem;
    @include flex(center, center);
  }

  &__description {
    min-width: $minWidth;
    width: $width;
    padding-bottom: 3rem;
  }

  &__intro {
    color: $gray-dark;
    line-height: 1.2rem;
  }
}
