<section class="home">
  <div class="home__wrapper">
    <div class="home__image-wrapper">
      <img src="../../assets/images/car_intro.jpg" alt="home" class="home__image"/>
      <a href="https://www.vecteezy.com/free-vector/grunge" class="home__link">Grunge Vectors by Vecteezy</a>
    </div>
    <div class="home__description">
      <h2>Ut enim ad minima veniam</h2>
      <h5 class="home__intro">
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
        voluptas nulla pariatur
      </h5>
      <button class="btn btn--primary" routerLink="car">Next</button>
    </div>
  </div>
</section>


