@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.filters {
  display: flex;
  padding: 25px;
  @include flex(center, space-evenly);
  background-color: $white;
  flex-wrap: wrap;
  @media screen and (min-width: $medium-screen) {
    flex-wrap: nowrap;
  }
  &__item {
    width: 100%;
    margin: 0.5rem;
    @media screen and (min-width: $medium-screen) {
      width: 300px;
    }
  }
}
