<div class="filters">
    <cp-input class="filters__item" label="Name" [formControl]="name"></cp-input>
    <cp-select class="filters__item" [options]="colors$ | async" label="Color" [formControl]="color"> </cp-select>
    <cp-select class="filters__item" [options]="tags$ | async" label="Tag" [formControl]="tag"> </cp-select>
    <button class="btn btn--primary" (click)="reset()">Reset</button>
  </div>
  