@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.card {
  width: 220px;
  min-height: 300px;
  background-color: $white;
  margin: 1rem;
  padding: 1rem;
  display: inline-grid;
  &__image-container {
    background-color: $gray-light;
    height: 120px;
    @include flex(center, center);
    img {
      width: 180px;
      height: 100px;
      object-fit: contain;
    }
  }

  &__wrapper {
    @include flex(center, space-between, column);
  }

  &__name {
    color: $primary-light;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__info {
    padding: 5px 0px;
    @include flex(center, space-between);
    &-title {
      font-weight: 600;
      padding-right: 0.5rem;
    }
  }

  &__specification {
    font-size: 1.1rem;
    padding: 10px 0px;
    @include flex(stretch, space-between, column);
  }

  &__tag {
    $tagSize: 20px;
    margin-right: 10px;
    width: $tagSize;
    height: $tagSize;
  }

}

