<div class="card">
  <div class="card__image-container">
    <img [src]="'assets/images/' + car.img" alt="" />
  </div>
  <div class="card__wrapper">
    <div class="card__name">{{ car.name }}</div>
    <div class="card__specification">
      <div class="card__info">
        <span class="card__info-title">Production year:</span
        ><span>{{ car.year }}</span>
      </div>
      <div class="card__info">
        <span class="card__info-title">Price:</span>
        <span cpCarPriceColor [price]="car.price">{{
          car.price | currency: "USD"
        }}</span>
      </div>
      <div class="card__info">
        <span class="card__info-title">Country:</span>
        <span>{{ car.country }}</span>
      </div>
    </div>
    <div>
      <img
        class="card__tag"
        *ngFor="let tag of car.tags"
        [src]="'/assets/icons/' + (tag | carsTag)"
        alt="tag"
      />
    </div>
  </div>
</div>
