<div class="control">
  <input
    #input
    type="input"
    class="control__field"
    [placeholder]="label"
    autocomplete="off"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [name]="label"
    (input)="onInput(input.value)"
    [formControl]="control"
  />
  <label [for]="label" class="control__label">{{ label }}</label>
</div>
