@import "../../../assets/styles/variables";

.control {
  position: relative;
  padding: 15px 0 0;

  &__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray-dark;
    outline: 0;
    font-size: 1rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .control__label {
      font-size: 1rem;
      cursor: text;
      top: 0.7rem;
    }
    &:focus {
      outline: none;
      -webkit-appearance: none;
      -webkit-focus-ring-color: none;
      ~ .control__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary-light;
        font-weight: 700;
      }
      padding-bottom: 6px;
      font-weight: 700;
      border-bottom: 3px solid $primary-dark;
      border-image: linear-gradient(to right, $primary-light, $primary-dark);
      border-image-slice: 1;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary-light;
    pointer-events: none;
  }
}

