.btn {
  border-radius: 25px;
  padding: 0.5rem 0.7rem;
  color: $white;
  border: none;
  width: 100px;
  height: 30px;
  margin: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
    outline: 0;
  }
  &--primary {
    background-color: $primary-light;
    &:hover {
      background-color: $primary-dark;
    }
  }
}
