<nav class="nav nav--primary">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" routerLink="/"><img class="nav__icon" src="/assets/icons/h-square-solid.svg" alt="">Cars House</a>
    </li>
  </ul>
</nav>
