@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
.nav {
  height: 5rem;
  width: 100%;
  &--primary {
    background-color: $primary-dark;
    color: $white;
  }
  &__list {
    margin: 0;
    height: 100%;
    list-style-type: none;
    text-transform: uppercase;
    @include flex(center, flex-start);
  }
  &__item {
    padding: 10px;
  }
  &__link {
    @include flex(center, center);
    color: $accent;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__icon {
    width: 40px;
    margin-right: 1rem;
  }
}
